.gorria{
    background-color: rgb(143, 60, 60); 
    height: 20%;display: flex;
    justify-content: center; 
    align-items: center;
}
.berdea{
    background-color: rgb(55, 118, 55); 
    height: 15%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.urdina{
    background-color: rgb(41, 71, 105);
    height: 65%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
body{
    background-color: black;
}
p{
    color: white;
}