.gorria{
    background-color: rgb(246, 131, 131); 
    height: 20%;display: flex;
    justify-content: center; 
    align-items: center;
}
.berdea{
    background-color: rgb(146, 244, 146); 
    height: 15%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.urdina{
    background-color: rgb(141, 192, 251);
    height: 65%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}