.tituloa{
    color: rgb(4, 241, 162);
}
.azpi{
    color: rgb(189, 28, 152);
}
.berdea{
    color: rgb(0, 168, 0);
}
.urdina{
    color: blue;
}
.berde{
    color: rgb(138, 199, 47);
}
.arosa{
    color: rgb(255, 0, 183);
}
.horia{
    color: rgb(255, 208, 1);

}
.gorria{
    color: red;
}